<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SimpleAppForTesting.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C2D60A5F9B785A24CC14EAAA81E10F8F171715B5</string>
				<key>dateExpires</key>
				<string>19/10/2018</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9P897V942J.com.igor.SimpleAppForTesting</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9P897V942J</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>9P897V942J.com.igor.SimpleAppForTesting</string>
				</array>
			</dict>
			<key>name</key>
			<string>SimpleAppForTesting.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>698af250-b97a-4e27-a64b-e5e90246e281</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9P897V942J</string>
				<key>name</key>
				<string>Dan Aharony</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
